export SMTP_HOST=smtp-relay.brevo.com
export SMTP_FROM_ADDRESS=assignments@browmath.com
export SMTP_FROM_NAME=Browmath Assignments
export SMTP_PORT=587
export SMTP_USERNAME=7d85ce001@smtp-brevo.com
export SMTP_PASSWORD=********
